
.classroom-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    margin-top: 55px;
}

.classroom-section.open{
    opacity: 1;
}
 
.back-button{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    column-gap: 8px;
    padding: 10px 10px;
    background: transparent;
    border: none;
    align-self: flex-start;
    margin-left: 12px;
}

.back-button img{
    width: 20px;
    height: 20px;
}


.message-person{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12px;
}

.message-person img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #111;
}

.message-person-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    flex: 1;
    box-sizing: border-box;
    padding-left: 5px;
}

.message-person-content h4{  
    font-size: 16px;
    line-height: 21px;  
    color: #2E2D2D; 
    width: 100%;
}


.message-person-content h5{  
    font-size: 12px;
    line-height: 15px;  
    color: #2E2D2D; 
    width: 100%;
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #6ca9c4;
    margin-top: 12px;
    margin-bottom: 12px;
} 

.messages-main-content{ 
    width: 100%; 
    height: 58svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    margin-bottom: 12px;
    overflow-y: scroll;
}

.message-content-pointer{
    width: 100%;
    height: 2px; 
    background: transparent;
    border: none;
}

#main-body{
    /* I want to control the main parent in base */
    padding-bottom: 0px !important;
}

.message-main-scroller{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    row-gap: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}


.message-content-receiver{
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 12px 14px;
    min-height: 50px;
    align-self: flex-start;
    background: #cfd5d4;
    border-radius: 4px;
    margin-left: 4px;
    row-gap: 4px;
}



.message-content-receiver p{
    font-size: 14px;
    line-height: 17px;
    color: #2E2D2D;
}


.message-content-receiver h6{
    font-size: 10px;
    line-height: 15px;
    color: #2E2D2D;

}



.message-content-sender{
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 12px 14px;
    min-height: 50px;
    align-self: flex-end;
    background: #A3E3FF;
    border-radius: 4px;
    margin-right: 4px;
    row-gap: 4px;
}



.message-content-sender p{
    font-size: 14px;
    line-height: 17px;
    color: #2E2D2D;
}


.message-content-sender h6{
    font-size: 10px;
    line-height: 15px;
    color: #2E2D2D;

}

.message-chatbox-container{
    width: 100%;
    height: 50px; 
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    padding: 0px 8px;
    border: 1px solid #6ca9c4;
    border-width: 1px 0px 0px 0px;
    
    
}


.message-chatbox-container textarea{
    flex: 1;
    height: 90%; 
    background: #EFF7F6;
    border: 1px solid #428977;
    border-radius: 4px;
    font-size: 11px;
    line-height: 15px;
    color: #2E2D2D;
    padding-left: 10px; 
    resize: none;
    overflow: auto;
    padding: 10px;
    outline: none; 
    margin-left: 12px;
    box-sizing: border-box;
}


.message-chatbox-container button{
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 18px;
}

.message-chatbox-container button img{
    width: 100%;
    height: 100%;
}



