

.vid-start-viewer{
    width: 80%;
    height: 200px; 
    margin-top: 12px;
    border-radius: 12px;
    border: 1px solid #111;
}


.vid-start-viewer video{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover; 
    transform: rotateY(180deg);
}


.vid-start-actions{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
    margin-top: 8px;
    position: relative;
}


.vid-start-actions-small{
    background: #04497B;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: none; 
    cursor: pointer;
}

.vid-start-actions-small img{
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.vid-start-actions-big{
    width: fit-content;
    height: fit-content;
    background-color: #FF4747;
    padding: 10px 12px;
    border: none;
    color: white;
    border-radius: 2px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}









