{% extends "base.html" %}
{% load static %}


{% block baseheadblock %}
<link rel="stylesheet" href="{% static "actions-components.css" %}">
<link rel="stylesheet" href="{% static "teacher/classroom_reviewers.css" %}">
<script src="{% static "student/classroom_reviewers.js" %}" defer></script>

{% endblock baseheadblock %}


{% block basebodyblock %}

{% include "components/actions-components-teacher.html" with action_to_show="student" selected="student_classroom" %}



<section class="classroom-section">

    <div class="classroom-title">
        <h1 class="poppins-light">Classroom</h1>
        <button onclick="window.location.href='{% url 'student_classroom_page' %}'" class="poppins-medium" id="create_classroom_button">
            Other Classrooms
        </button>
    </div>
    
    <div class="classroom-info-container">
        <h2 class="poppins-light ellipsis" id="classroom_name_tag"></h2>
        <h3 class="poppins-semibold ellipsis" id="classroom_subject_tag"></h3>
        <div class="classroom-info-action">
            <span class="poppins-bold" id="classroom_link_id"></span>
            <button class="poppins-regular" id="copy_link_button">Copy ID</button>
        </div>
    </div>

    <div class="classroom-all-actions-container">
        <p class="classroom-descriptions poppins-light" id="classroom_description"></p>
        <hr style="color: black; width: 100%; height: 2px; background-color: black;"> 
        <div class="classrooms-all-actions">
            <button style="background-color: #1A8FE3;" class="poppins-light" id="first_button">Announcement</button>
            <button style="background-color: #FA191C;" class="poppins-light" id="delete_classroom">Leave Classroom</button>
        </div> 
    </div>

    <input type="month" name="" id="month-field" class="poppins-regular notification-date-input" style="align-self: flex-end; margin-right: 8%; width: 125px;">
    <hr style="color: black; width: 85%; margin-top: 10px; height: 0.5px; background-color: black;">

    <div class="materials-collections" id="material_collections">
        <div class="material-empty" style="display: none;">
            <h3 class="poppins-light"> There are no material uploaded this month! </h3>
        </div>

        <div class="material-container" style="display: none;" >
            <img src="{% static 'assets/delete-materials-icon.svg' %}" alt="" class="collections-delete-button">
            <h2 class="poppins-regular ellipsis"> Reviewer For Final </h2>
            <h5 class="poppins-light ellipsis">Date Uploaded : December 12, 2003</h5>
            <button class="poppins-light collection-visit-button" >
                Click here to view
            </button>

            <span class="collection-category poppins-black">
                Material
            </span>
        </div>


        <div class="student-material-container">
            <img src="{% static 'assets/check-activity-icon.svg' %}" alt="">

            <h1 class="poppins-regular ellipsis">Reviewer For Final</h1>
            <h2 class="poppins-light ellipsis">Date Uploaded : December 12, 2004</h2>
            <h2 class="poppins-light ellipsis">Due Date : December 12, 2004 </h2>

            <span class="collection-category poppins-black">
                Material
            </span>
            <button class="poppins-light collection-visit-button" >
                Click here to view
            </button>

        </div>

    </div>

    <script>
        var check_activity = "{% static 'assets/check-activity-icon.svg' %}";
        var uncheck_activity = "{% static 'assets/uncheck-activity-icon.svg' %}";
    </script>

    {% comment %} <img src="{% static 'assets/add-material-button.svg' %}" alt="" class="add-collection-button" id="add_collection_button"> {% endcomment %}
 

</section>

 
<div class="classroom-delete-modal" id="classroom_delete_modal" style="display: none;">

    <div class="classroom-delete-modal-container">
        
        <div class="classroom-add-modal-header">
            <img src="{% static "assets/classroom-icon.svg" %}" alt="classroom-icon" class="classroom-icon">
            <span class="poppins-semibold">Leave Classroom</span>
        </div>
        <p class="poppins-light">Are you sure do you want to leave? Leaving this classroom will remove all your summited and connections in this classroom</p>
        
        <div class="classroom_add_modal_actions">
            <button class="poppins-extrabold" id="continue_delete_button">Continue</button>
            <button class="poppins-extrabold" id="cancel_delete_button" style="background-color: #04497B;">Cancel</button>
        </div>

    </div>

</div>

 












<script>
    var clasrroms_pages_link = "{% url 'student_classroom_page' %}";
    var classroom_view_reviewer_link = "{% url 'student_classroom_view_reviewer_page' %}"
</script>

{% endblock basebodyblock %}
