{% extends "base.html" %}
{% load static %}


{% block baseheadblock %}
<link rel="stylesheet" href="{% static "actions-components.css" %}">
<link rel="stylesheet" href="{% static "teacher/classroom_reviewers.css" %}">
<script src="{% static "student/classroom_reviewers.js" %}" defer></script>

{% endblock baseheadblock %}


{% block basebodyblock %}

{% include "components/actions-components-teacher.html" with action_to_show="teacher" selected="teacher_classroom" %}



<section class="classroom-section open">

    <div class="classroom-title">
        <h1 class="poppins-light">Classroom</h1>
        <button onclick="window.location.href='{% url 'teacher_classroom_page' %}'" class="poppins-medium" id="create_classroom_button">
            Other Classrooms
        </button>
    </div>
    
    <div class="classroom-info-container">
        <h2 class="poppins-light ellipsis" id="classroom_name_tag">Google Clasroom</h2>
        <h3 class="poppins-semibold ellipsis" id="classroom_subject_tag">Food Beverage</h3>
        <div class="classroom-info-action">
            <span class="poppins-bold" id="classroom_link_id"> 123FSAHDFJK </span>
            <button class="poppins-regular" id="copy_link_button">Copy ID</button>
        </div>
    </div>

    <div class="classroom-all-actions-container">
        <p class="classroom-descriptions poppins-light" id="classroom_description">
            Want to move on to the student view of the classroom next? Or dive into how assessments are created and managed from this screen?
        </p>
        <hr style="color: black; width: 100%; height: 2px; background-color: black;"> 
        <div class="classrooms-all-actions">
            <button style="background-color: #1A8FE3;" class="poppins-light" id="edit_classroom">Edit Classroom</button>
            <button style="background-color: #FA191C;" class="poppins-light" id="delete_classroom">Leave Classroom</button>
        </div> 
    </div>

    <input type="month" name="" id="month-field" class="poppins-regular notification-date-input" style="align-self: flex-end; margin-right: 8%; width: 125px;">
    <hr style="color: black; width: 85%; margin-top: 10px; height: 0.5px; background-color: black;">

    <div class="materials-collections" id="material_collections">
        <div class="material-empty" style="display: none;">
            <h3 class="poppins-light"> There are no material uploaded this month! </h3>
        </div>

        <div class="material-container" style="display: none;" >
            <img src="{% static 'assets/delete-materials-icon.svg' %}" alt="" class="collections-delete-button">
            <h2 class="poppins-regular ellipsis"> Reviewer For Final </h2>
            <h5 class="poppins-light ellipsis">Date Uploaded : December 12, 2003</h5>
            <button class="poppins-light collection-visit-button" >
                Click here to view
            </button>

            <span class="collection-category poppins-black">
                Material
            </span>
        </div>

    </div>


    <img src="{% static 'assets/add-material-button.svg' %}" alt="" class="add-collection-button" id="add_collection_button">
 

</section>



<div class="classroom-add-modal" id="classroom_edit_modal" style="display: none;">
    <div class="classroom-add-modal-container">

        <div class="classroom-add-modal-header">
            <img src="{% static "assets/classroom-icon.svg" %}" alt="classroom-icon" class="classroom-icon">
            <span class="poppins-semibold">Update Your Classroom</span>
        </div>
        
        <label class="poppins-regular">Classroom Name</label>
        <input id="classroom_name" type="text" placeholder="Enter Your Classroom Name" class="poppins-regular input-field">
        <label class="poppins-regular">Classroom Descriptions</label>
        <textarea id="classroom_description" name="description" placeholder="What this classroom is all about?" class="poppins-regular textarea-field"></textarea>
        <label class="poppins-regular">Classroom Subject</label>
        <input id="classroom_subject" type="text" placeholder="Enter Your Classroom Subject" class="poppins-regular input-field">
        
        <div class="classroom_add_modal_actions">
            <button class="poppins-extrabold" id="update_edit_button">Update</button>
            <button class="poppins-extrabold" id="cancel_edit_button" style="background-color: #04497B;">Cancel</button>
        </div>

    </div>
</div>



<div class="classroom-delete-modal" id="classroom_delete_modal" style="display: none;">

    <div class="classroom-delete-modal-container">
        
        <div class="classroom-add-modal-header">
            <img src="{% static "assets/classroom-icon.svg" %}" alt="classroom-icon" class="classroom-icon">
            <span class="poppins-semibold">Delete Classroom</span>
        </div>
        <p class="poppins-light">Are you sure do you want to delete? Deleting this is will remove all the students, exams and materials uploaded in this classroom</p>
        
        <div class="classroom_add_modal_actions">
            <button class="poppins-extrabold" id="continue_delete_button">Continue</button>
            <button class="poppins-extrabold" id="cancel_delete_button" style="background-color: #04497B;">Cancel</button>
        </div>

    </div>

</div>


<div class="classroom-delete-modal" id="delete_material_modal" style="display: none;">

    <div class="classroom-delete-modal-container">
        
        <div class="classroom-add-modal-header">
            <img src="{% static "assets/classroom-icon.svg" %}" alt="classroom-icon" class="classroom-icon">
            <span class="poppins-semibold">Delete Material</span>
        </div>
        <p class="poppins-light">Are you sure do you want to delete? Deleting this is will remove all connected to this materials. </p>
        
        <div class="classroom_add_modal_actions">
            <button class="poppins-extrabold" id="continue_delete_material_button">Continue</button>
            <button class="poppins-extrabold" id="cancel_delete_material_button" style="background-color: #04497B;">Cancel</button>
        </div>

    </div>

</div>





<div class="classroom-add-modal" id="add_material_modal" style="display: none;">
    <div class="classroom-add-modal-container" style="margin-top: 20svh;">

        <div class="classroom-add-modal-header">
            <img src="{% static "assets/classroom-icon.svg" %}" alt="classroom-icon" class="classroom-icon">
            <span class="poppins-semibold">Add Learning Materials</span>
        </div>
        
        <label class="poppins-regular">Material Name</label>
        <input id="material_name" type="text" placeholder="Enter your Material name" class="poppins-regular input-field">
        <label class="poppins-regular">Material Descriptions</label>
        <textarea id="material_description" name="description" placeholder="What this materials is all about?" class="poppins-regular textarea-field"></textarea>
        <label class="poppins-regular">Material Link</label>
        <input id="material_link" type="text" placeholder="Optional: Add additional link " class="poppins-regular input-field">
        <label class="poppins-regular">Material File</label>
        <input id="material_file_button" type="button" value="Optional: Click Here to upload the file" class="poppins-regular file-field ellipsis">
        <input type="file" name="" id="material_file" hidden>


        <div class="classroom_add_modal_actions">
            <button class="poppins-extrabold" id="add_matterial_button">Continue</button>
            <button class="poppins-extrabold" id="cancel_adding_material_button" style="background-color: #04497B;">Cancel</button>
        </div>

    </div>
</div>




















<script>
    var clasrroms_pages_link = "{% url 'teacher_classroom_page' %}";
    var classroom_view_reviewer_link = "{% url 'teacher_classroom_view_reviewer_page' %}"
</script>

{% endblock basebodyblock %}
