{% extends "base.html" %}
{% load static %}



{% block baseheadblock %}
    <link rel="stylesheet" href="{% static "actions-components.css" %}">  
    <link rel="stylesheet" href="{% static 'teacher/messages_view.css' %}">

{% endblock baseheadblock %}

{% block basebodyblock %}

{% include "components/actions-components-teacher.html" with action_to_show="student" selected="student_message" %}

<section class="classroom-section open">

    <button class="back-button" onclick='window.location.href="{% url "student_messages" %}"' >
        <img src="/static/assets/back-icon.svg" alt="back" class="back-icon">
        <span class="poppins-medium">View Messages</span> 
    </button>

    <div class="message-person">
        <img src="" alt="">
        <div class="message-person-content">
            <h4 class="poppins-semibold ellipsis">Student Mon Nava</h4>
            <h5 class="poppins-regular ellipsis">makietech@gmail.com</h5>
        </div>
    </div>

    <div class="divider"></div>

    <div class="messages-main-content">
        <div class="message-main-scroller">

            <div class="message-content-receiver">
                <p class="poppins-regular">
                    Hello Po sa inyu ako po si makie tech at kilalang batibot
                </p>
                <h6 class="poppins-bold">December 12, 2005</h6>
            </div>
            <div class="message-content-sender">
                <p class="poppins-regular">
                    Hello Po sa inyu ako po si makie tech at kilalang batibot
                </p>
                <h6 class="poppins-bold">December 12, 2005</h6>
            </div>

            <div class="message-content-receiver">
                <p class="poppins-regular">
                    Hello Po sa inyu ako po si makie tech at kilalang batibot
                </p>
                <h6 class="poppins-bold">December 12, 2005</h6>
            </div>
            <div class="message-content-sender">
                <p class="poppins-regular">
                    Hello Po sa inyu ako po si makie tech at kilalang batibot
                </p>
                <h6 class="poppins-bold">December 12, 2005</h6>
            </div>


            <div class="message-content-receiver">
                <p class="poppins-regular">
                    Hello Po sa inyu ako po si makie tech at kilalang batibot
                </p>
                <h6 class="poppins-bold">December 12, 2005</h6>
            </div>
            <div class="message-content-sender">
                <p class="poppins-regular">
                    Hello Po sa inyu ako po si makie tech at kilalang batibot
                </p>
                <h6 class="poppins-bold">December 12, 2005</h6>
            </div>


            <div class="message-content-receiver">
                <p class="poppins-regular">
                    Hello Po sa inyu ako po si makie tech at kilalang batibot
                </p>
                <h6 class="poppins-bold">December 12, 2005</h6>
            </div>
            <div class="message-content-sender">
                <p class="poppins-regular">
                    Hello Po sa inyu ako po si makie tech at kilalang batibot
                </p>
                <h6 class="poppins-bold">December 12, 2005</h6>
            </div>


        </div>
        <button class="message-content-pointer"></button>
    </div>

    <div class="message-chatbox-container">
        <textarea name="" id="" placeholder="Send message . . ." class="poppins-light"></textarea>
        <button>
            <img src="{% static 'assets/post-classroom-icon.svg' %}" alt="">
        </button>
    </div>






</section>

{% endblock basebodyblock %}


















