{% extends "base.html" %}
{% load static %}


{% block baseheadblock %}
<link rel="stylesheet" href="{% static "actions-components.css" %}">
<link rel="stylesheet" href="{% static "teacher/classroom_reviewers.css" %}">
<link rel="stylesheet" href="{% static "teacher/classroom_students.css" %}">
<script src="{% static "teacher/classroom_students.js" %}" defer></script>

{% endblock baseheadblock %}


{% block basebodyblock %}

{% include "components/actions-components-teacher.html" with action_to_show="teacher" selected="teacher_classroom" %}



<section class="classroom-section" >

    <div class="classroom-title">
        <h1 class="poppins-light">Classroom</h1>
        <button onclick="window.location.href='{% url 'teacher_classroom_page' %}'" class="poppins-medium" id="create_classroom_button">
            Other Classrooms
        </button>
    </div>
    
    <div class="classroom-info-container">
        <h2 class="poppins-light ellipsis" id="classroom_name_tag">Google Clasroom</h2>
        <h3 class="poppins-semibold ellipsis" id="classroom_subject_tag">Food Beverage</h3>
        <div class="classroom-info-action">
            <span class="poppins-bold" id="classroom_link_id"> 123FSAHDFJK </span>
            <button class="poppins-regular" id="copy_link_button">Copy ID</button>
        </div>
    </div>

    <div class="classroom-all-actions-container">
        <div class="classrooms-all-actions">
            <button style="background-color: #1A8FE3;" class="poppins-light" id="edit_classroom">Edit Classroom</button>
            <button style="background-color: #FA191C;" class="poppins-light" id="delete_classroom">Delete Classroom</button>
        </div>
        <hr style="color: black; width: 100%; height: 2px; background-color: black;">
        <div class="classrooms-all-actions">
            <button onclick="window.location.href='{% url 'teacher_classroom_reviewers_page' %}'" style="background-color: #FFDC47; color: black;" class="poppins-light" >Materials</button>
            <button onclick="window.location.href='{% url 'teacher_classroom_activities' %}'" style="background-color: #FFDC47; color: black;" class="poppins-light" >Activities</button>
        </div>
        <div class="classrooms-all-actions">
            <button  style="background-color: #ABFDE8; color: black;"  class="poppins-medium" >Check Students</button>
            <button onclick="window.location.href='{% url 'teacher_classroom_announcement_page' %}'" style="background-color: #FFDC47; color: black;" class="poppins-light" >Announcement</button>
        </div>
    </div>

    <div class="materials-collections" id="material_collections">
        <div class="material-empty" style="display: none;">
            <h3 class="poppins-light"> There are no material uploaded this month! </h3>
        </div>

        <div class="student-container" style="display: none;">

            <div class="student-profile">
                <img src="{% static 'assets/icon.png' %}" alt="">
            </div>
            <div class="student-information">
                <h4 class="poppins-regular ellipsis">John Catamora</h4>
                <h5 class="poppins-light ellipsis">johncatamora@gmail.com</h5>
            </div>

            <button class="poppins-black">
                Check Student
            </button>
             
        </div>

    </div>
 

</section>



<div class="classroom-add-modal" id="classroom_edit_modal" style="display: none;">
    <div class="classroom-add-modal-container">

        <div class="classroom-add-modal-header">
            <img src="{% static "assets/classroom-icon.svg" %}" alt="classroom-icon" class="classroom-icon">
            <span class="poppins-semibold">Update Your Classroom</span>
        </div>
        
        <label class="poppins-regular">Classroom Name</label>
        <input id="classroom_name" type="text" placeholder="Enter Your Classroom Name" class="poppins-regular input-field">
        <label class="poppins-regular">Classroom Descriptions</label>
        <textarea id="classroom_description" name="description" placeholder="What this classroom is all about?" class="poppins-regular textarea-field"></textarea>
        <label class="poppins-regular">Classroom Subject</label>
        <input id="classroom_subject" type="text" placeholder="Enter Your Classroom Subject" class="poppins-regular input-field">
        
        <div class="classroom_add_modal_actions">
            <button class="poppins-extrabold" id="update_edit_button">Update</button>
            <button class="poppins-extrabold" id="cancel_edit_button" style="background-color: #04497B;">Cancel</button>
        </div>

    </div>
</div>



<div class="classroom-delete-modal" id="classroom_delete_modal" style="display: none;">

    <div class="classroom-delete-modal-container">
        
        <div class="classroom-add-modal-header">
            <img src="{% static "assets/classroom-icon.svg" %}" alt="classroom-icon" class="classroom-icon">
            <span class="poppins-semibold">Delete Classroom</span>
        </div>
        <p class="poppins-light">Are you sure do you want to delete? Deleting this is will remove all the students, exams and materials uploaded in this classroom</p>
        
        <div class="classroom_add_modal_actions">
            <button class="poppins-extrabold" id="continue_delete_button">Continue</button>
            <button class="poppins-extrabold" id="cancel_delete_button" style="background-color: #04497B;">Cancel</button>
        </div>

    </div>

</div>



<script>
    var clasrroms_pages_link = "{% url 'teacher_classroom_page' %}";
    var classroom_view_reviewer_link = "{% url 'teacher_classroom_view_reviewer_page' %}";
    var classroom_view_student_link = "{% url 'teacher_classroom_view_student' %}";
</script>

{% endblock basebodyblock %}
