{% extends "base.html" %}
{% load static %}



{% block baseheadblock %}
    <link rel="stylesheet" href="{% static "actions-components.css" %}">  
    <link rel="stylesheet" href="{% static 'teacher/messages_view.css' %}">

{% endblock baseheadblock %}

{% block basebodyblock %}

{% include "components/actions-components-teacher.html" with action_to_show="teacher" selected="teacher_message" %}

<section class="classroom-section open">

    <button class="back-button" >
        <img src="/static/assets/back-icon.svg" alt="back" class="back-icon">
        <span class="poppins-medium">View Messages</span> 
    </button>

    <div class="message-person">
        <img src="" alt="">
        <div class="message-person-content">
            <h4 class="poppins-semibold ellipsis">Student Mon Nava</h4>
            <h5 class="poppins-regular ellipsis">makietech@gmail.com</h5>
        </div>
    </div>

    <div class="divider"></div>

    <div class="messages-main-content">

    </div>






</section>

{% endblock basebodyblock %}


















