{% extends "base.html" %}
{% load static %}


{% block baseheadblock %}
    <link rel="stylesheet" href="{% static "actions-components.css" %}">  
    <link rel="stylesheet" href="{% static 'teacher/messages_view.css' %}">
    <link rel="stylesheet" href="{% static "teacher/start_conferencing.css" %}">  

{% endblock baseheadblock %}


{% block basebodyblock %}

{% include "components/actions-components-teacher.html" with action_to_show="teacher" selected="teacher_message" %}



<section class="classroom-section open" >

    <button class="back-button" onclick='window.location.href="{% url "teacher_classroom_conferencing" %}"' >
        <img src="/static/assets/back-icon.svg" alt="back" class="back-icon">
        <span class="poppins-medium">Other Classroom</span> 
    </button>


    <div class="vid-start-viewer">
        <p class="poppins-black">Video is currently down!</p>
        <video src="" id="myself_vidtag" autoplay playsinline muted></video>
    </div>

    <div class="vid-start-actions">
        <button class="vid-start-actions-small" id="mic_button">
            <img src="{% static 'assets/microphone-whte-icon.svg' %}" alt="">
        </button>
        <button class="vid-start-actions-small" id="vid_button">
            <img src="{% static 'assets/camera-white-icon.svg' %}" alt="">
        </button>

        <button class="vid-start-actions-big poppins-bold" id="start_video_call">
            Start Video Call
        </button>
    </div>
 
    

</section>

{% comment %} <script src="{% static 'student/video-handler.js' %}" defer></script> {% endcomment %}
<script src="{% static 'student/start_conferencing.js' %}" defer></script>

<script>
    var link_open_meeting = "{% url 'teacher_video_conferencing' %}";
    var user_id = "{{request.user.pk}}";
</script>



{% endblock basebodyblock %}
