{% extends "base.html" %}
{% load static %}


{% block baseheadblock %}

    <link rel="stylesheet" href="{% static "actions-components.css" %}">  
    <link rel="stylesheet" href="{% static "teacher/video_conferencing.css" %}">  

{% endblock baseheadblock %}


{% block basebodyblock %}

{% include "components/actions-components-teacher.html" with action_to_show="teacher" selected="teacher_message" is_not_needed=True %}


<section class="video-conferencing-section">

    <button class="leave-video-conferencing poppins-black" onclick="window.location.href='{% url 'teacher_start_conferencing' %}'">
        Leave Classroom Call
    </button>

    <div class="video-teacher-container">
        <h4 class="poppins-bold ellipsis">{{request.user.fullname}}</h4>
        <div class="video-holder">
            <p class="poppins-regular"> Waiting to join !</p>
            <video src="" id="call_video_{{request.user.pk}}" autoplay playsinline muted ></video>
        </div>
        <div class="vid-start-actions">
            <button class="vid-start-actions-small" id="call_mic_{{request.user.pk}}">
                <img src="{% static 'assets/microphone-whte-icon.svg' %}" alt="">
            </button>
            <button class="vid-start-actions-small" id="call_vid_{{request.user.pk}}">
                <img src="{% static 'assets/camera-white-icon.svg' %}" alt="">
            </button>

            <button class="vid-start-actions-big poppins-bold" id="white_board_button">
                Open White Board
            </button>
        </div>
    </div>
    
    <div class="video-teacher-whiteboard" style="display: none;" id="teacher_whiteboard">
        <h4 class="poppins-bold ellipsis">(White Board)</h4>
        <div class="video-holder">
            <video src="" id="teacher_whiteboard_video" autoplay playsinline muted ></video>
        </div>
    </div>  

    <div class="students-list-placeholder" id="group_call_container" style="display: none;"> 
{% comment %}  
        <div class="video-teacher-whiteboard">
            <h4 class="poppins-bold ellipsis">(Student) Josh Ametin</h4>
            <div class="video-holder">
                <p class="poppins-regular"> Waiting to join !</p>
                <button class="video-holder-mute">
                    <img src="{% static 'assets/microphone-whte-icon.svg' %}" alt="">
                </button>
                <video src="" id="" autoplay playsinline muted ></video>
            </div>
        </div>

        <div class="video-teacher-whiteboard">
            <h4 class="poppins-bold ellipsis">(Student) Josh Ametin</h4>
            <div class="video-holder">
                <p class="poppins-regular"> Waiting to join !</p>
                <video src="" id="" autoplay playsinline muted ></video>
                <button class="video-holder-mute">
                    <img src="{% static 'assets/microphone-whte-icon.svg' %}" alt="">
                </button>
            </div>
        </div> {% endcomment %}

    </div>

    <button class="view-messages" id="view_messages">
        <img src="{% static 'assets/chat-black-icon.svg' %}" alt="">
    </button>


    <div class="group-message-container" style="display: none;" id="group_message_container">
        <div class="group-message-wrapper">

            <div class="group-message-header">
                <h5 class="poppins-semibold">Group Message</h5>
                <button id="messages_close_button">
                    <img src="{% static 'assets/back-icon.svg' %}" alt="">
                </button>
            </div>

            <div class="group-message-table">
                <div class="group-message-content" id="messages_table"> 
                </div>
            </div>


            <div class="group-message-actions">

                <textarea placeholder="Write a message here . . ." name="" id="group_message_input" class="poppins-light"></textarea>
                <button id="send_group_message" style="opacity: 0.5;">
                    <img src="{% static 'assets/message-icon.svg' %}" alt="">
                </button>
            </div>


        </div>
    </div>


<div class="start-call-container" id="start_call_container">
    <div class="start-call-wrapper">
        <h1 class="poppins-bold">Click Here To Join!</h1>
        <button class="poppins-light" id="start_now_call">Start Now!</button>
    </div>
</div>



</section>

<script src="{% static 'student/video-handler.js' %}" defer></script>
<script src="{% static 'student/video_conferencing.js' %}" defer></script> 
<script src="{% static 'teacher/video_conferencing_call.js' %}" defer></script>


{% endblock basebodyblock %}