{% load static %}
<nav class="navigation-bar">
    <div class="navigation-icon">
        <img src="{% static "assets/icon.png" %}" alt="logo" class="logo">
        <span class="poppins-bold">LAPYXS</span>
    </div>

    <div class="navigation-shortcut-icon">
        <div class="navigation-notification">
            <img src="{% static "assets/account-icon.svg" %}" alt="shortcut-icon" class="shortcut-icon">
        </div>
        <div class="navigation-notification">
            <span id="notification-red"></span>
            <img src="{% static "assets/notification-icon.svg" %}" alt="notification-icon" class="notification-icon">
        </div>
    </div>
</nav>

<button class="shortcut-actions-opener">
    <span class="poppins-light">Show Actions</span>
    <img src="{% static "assets/action-icon.svg" %}" alt="actions-icon" class="actions-icon">
</button>

<div class="shortcut-actions-container" >
    <h1 class="poppins-bold">Welcome back! </h1>
    <h2 class="poppins-light ellipsis">Teacher Makie</h2>
    <div class="shortcut-actions-buttons">
        {% if action_to_show == "teacher" %} 
            <button  style="{% if selected == 'teacher_dashboard' %}display : none;{% endif %}">
                <img src="{% static "assets/dashboard-icon.svg" %}" alt="dashboard-icon" class="dashboard-icon">
                <span class="poppins-medium">Dashboard</span>
            </button>
            <button  style="{% if selected == 'teacher_classroom' %}display : none;{% endif %}">
                <img src="{% static "assets/classroom-icon.svg" %}" alt="classroom-icon" class="classroom-icon">
                <span class="poppins-medium">Classroom</span>
            </button>
            <button  style="{% if selected == 'teacher_materials' %}display : none;{% endif %}">
                <img src="{% static "assets/material-icon.svg" %}" alt="material-icon" class="material-icon">
                <span class="poppins-medium">Materials</span>
            </button>
            <button  style="{% if selected == 'teacher_assessment' %}display : none;{% endif %}">
                <img src="{% static "assets/assessment-icon.svg" %}" alt="assessment-icon" class="assessment-icon">
                <span class="poppins-medium">Assessment</span>
            </button>
            <button  style="{% if selected == 'teacher_post' %}display : none;{% endif %}">
                <img src="{% static "assets/post-icon.svg" %}" alt="post-icon" class="post-icon">
                <span class="poppins-medium">Post</span>
            </button>
            <button  style="{% if selected == 'teacher_reports' %}display : none;{% endif %}">
                <img src="{% static "assets/report-icon.svg" %}" alt="report-icon" class="report-icon">
                <span class="poppins-medium">Reports</span>
            </button>
            <button  style="{% if selected == 'teacher_message' %}display : none;{% endif %}">
                <img src="{% static "assets/message-icon.svg" %}" alt="message-icon" class="message-icon">
                <span class="poppins-medium">Message</span>
            </button>
        
        {% else %}
        
        {% endif %}
    </div>
    <div class="shortcut-actions-container-divider"></div>
</div>


<div class="notifications-container" style="display: none;">
    <div class="notications-wrapper">
        <div class="notification-header-container">
            <h2 class="poppins-regular">Notifications</h2>
            <img src="{% static "assets/back-icon.svg" %}" alt="back-icon" class="back-icon">
        </div>

        <input type="date" name="notification-date" class="poppins-regular notification-date-input">
        <div class="notifications-scroller">
            <div class="notifications-scroller-wrapper">


                <div class="notification-content">
                    <h4 class="poppins-bold">Notification Title</h4>
                    <h5 class="poppins-regular">Notification Subtitle</h5>
                </div>

                <div class="notification-content">
                    <h4 class="poppins-bold">Notification Title</h4>
                    <h5 class="poppins-regular">Notification Subtitle</h5>
                </div>


            </div>
        </div>

    </div>
</div>