{% load static %}
<nav class="navigation-bar">
    <div class="navigation-icon">
        <img src="{% static "assets/icon.png" %}" alt="logo" class="logo">
        <span class="poppins-bold">LAPYXS</span>
    </div>

    <div class="navigation-shortcut-icon">
        <div class="navigation-notification" id="account-information-button">
            <img src="{% static "assets/account-icon.svg" %}" alt="shortcut-icon" class="shortcut-icon">
        </div>
        <div class="navigation-notification" id="account-notification-button">
            <span id="notification-red" style="display: none;"></span>
            <img src="{% static "assets/notification-icon.svg" %}" alt="notification-icon" class="notification-icon">
        </div>
    </div>
</nav>

<button class="shortcut-actions-opener" id="teacher-actions-opener">
    <span class="poppins-light" id="actions-opener-text">Hide Actions</span>
    <img id="actions-opener-icon" src="{% static "assets/action-icon.svg" %}" alt="actions-icon" class="actions-icon">
</button>

<div class="shortcut-actions-container" id="teacher-actions-container">
    <h1 class="poppins-bold">Welcome back! </h1>
    <h2 class="poppins-light ellipsis">{{ request.user.fullname }}</h2>
    <div class="shortcut-actions-buttons">
        {% if action_to_show == "teacher" %} 
            <button  onclick="window.location.href='{% url 'teacher_dashboard_page' %}'" style="{% if selected == 'teacher_dashboard' %}display : none;{% endif %}">
                <img src="{% static "assets/dashboard-icon.svg" %}" alt="dashboard-icon" class="dashboard-icon">
                <span class="poppins-medium">Dashboard</span>
            </button>
            <button  onclick="window.location.href='{% url 'teacher_classroom_page' %}'" style="{% if selected == 'teacher_classroom' %}display : none;{% endif %}">
                <img src="{% static "assets/classroom-icon.svg" %}" alt="classroom-icon" class="classroom-icon">
                <span class="poppins-medium">Classroom</span>
            </button>
            {% comment %} <button  style="{% if selected == 'teacher_materials' %}display : none;{% endif %}">
                <img src="{% static "assets/material-icon.svg" %}" alt="material-icon" class="material-icon">
                <span class="poppins-medium">Materials</span>
            </button>
            <button  style="{% if selected == 'teacher_assessment' %}display : none;{% endif %}">
                <img src="{% static "assets/assessment-icon.svg" %}" alt="assessment-icon" class="assessment-icon">
                <span class="poppins-medium">Assessment</span>
            </button>
            <button  style="{% if selected == 'teacher_post' %}display : none;{% endif %}">
                <img src="{% static "assets/post-icon.svg" %}" alt="post-icon" class="post-icon">
                <span class="poppins-medium">Post</span>
            </button> {% endcomment %}
            <button  style="{% if selected == 'teacher_reports' %}display : none;{% endif %}">
                <img src="{% static "assets/report-icon.svg" %}" alt="report-icon" class="report-icon">
                <span class="poppins-medium">Reports</span>
            </button>
            <button  style="{% if selected == 'teacher_message' %}display : none;{% endif %}">
                <img src="{% static "assets/message-icon.svg" %}" alt="message-icon" class="message-icon">
                <span class="poppins-medium">Message</span>
            </button>
        
        {% else %}
            <button onclick="window.location.href='{% url 'student_dashboard_page' %}'" style="{% if selected == 'student_dashboard' %}display : none;{% endif %}">
                <img src="{% static "assets/dashboard-icon.svg" %}" alt="dashboard-icon" class="dashboard-icon">
                <span class="poppins-medium">Dashboard</span>
            </button>
            <button  onclick="window.location.href='{% url 'student_classroom_page' %}'" style="{% if selected == 'student_classroom' %}display : none;{% endif %}">
                <img src="{% static "assets/classroom-icon.svg" %}" alt="classroom-icon" class="classroom-icon">
                <span class="poppins-medium">Classroom</span>
            </button>
            <button  style="{% if selected == 'student_message' %}display : none;{% endif %}">
                <img src="{% static "assets/message-icon.svg" %}" alt="message-icon" class="message-icon">
                <span class="poppins-medium">Message</span>
            </button>
            <button  style="{% if selected == 'student_post' %}display : none;{% endif %}">
                <img src="{% static "assets/post-icon.svg" %}" alt="post-icon" class="post-icon">
                <span class="poppins-medium">Post</span>
            </button>
        
        {% endif %}
    </div>
    <div class="shortcut-actions-container-divider"></div>
</div>

<script>
    const teacher_actions_opener = document.getElementById("teacher-actions-opener");
    const teacher_actions_container = document.getElementById("teacher-actions-container");
    const actions_opener_text = document.getElementById("actions-opener-text");
    const actions_opener_icon = document.getElementById("actions-opener-icon"); 
    var is_toggled = sessionStorage.getItem('is_toggled')
    if (is_toggled == "true"){
        teacher_actions_container.classList.toggle("toggled"); 
        actions_opener_icon.classList.toggle("toggled-shorcut-actions-opener-img");

        if (teacher_actions_container.classList.contains("toggled")) {
            actions_opener_text.innerText = "Show Actions";
            is_toggled = "true"
        } else {
            actions_opener_text.innerText = "Hide Actions";
            is_toggled = "false"
        }
        
    } else {
        is_toggled = "false"
    }

    teacher_actions_opener.addEventListener("click", function() { 
        teacher_actions_container.classList.toggle("toggled"); 
        actions_opener_icon.classList.toggle("toggled-shorcut-actions-opener-img");

        if (teacher_actions_container.classList.contains("toggled")) {
            actions_opener_text.innerText = "Show Actions";
            is_toggled = "true"
        } else {
            actions_opener_text.innerText = "Hide Actions";
            is_toggled = "false"
        }
        sessionStorage.setItem("is_toggled", is_toggled);

    });


    const account_information_button = document.getElementById("account-information-button");
    account_information_button.addEventListener("click", function() {
        if ( "{{ request.user.user_type }}" == "Teacher" ) {
            window.location.href = "{% url 'teacher_accounts_page' %}";
        } else {
            window.location.href = "{% url 'student_accounts_page' %}";
        }
    });
</script>



<div class="notifications-container" style="display: none;" id="notifications-container">
    <div class="notications-wrapper">
        <div class="notification-header-container">
            <h2 class="poppins-regular">Notifications</h2>
            <img id="notifications-container-back-icon" src="{% static "assets/back-icon.svg" %}" alt="back-icon" class="back-icon">
        </div>

        <input type="month" name="notification-date" id="notification-date" class="poppins-regular notification-date-input">
        <div class="notifications-scroller">
            <div class="notifications-scroller-wrapper" id="notification_list">


                <div class="notification-content" style="display: none;">
                    <h4 class="poppins-bold">Notification Title</h4>
                    <h5 class="poppins-regular">Notification Subtitle</h5>
                </div>


            </div>
        </div>

    </div>
</div>

<script src="{% static 'actions-components.js' %}" defer></script>

